# Use key from azure portal
# https://portal.azure.com/#@lise.de/resource/subscriptions/d4ec6bb3-b510-46ea-b992-fd95cd163a32/resourceGroups/lise-AI/providers/Microsoft.CognitiveServices/accounts/lise-OpenAI-GPT4/cskeys
API_KEY=

# Generate token from azure cli
# az login
# az account get-access-token --resource https://lise2.sharepoint.com
AZ_TOKEN=
